<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <main>
        <div class="divTitle">
            <h1 id="h1">Productos</h1>
        </div>
        
        <div class="container text-center">
            <div class="col-md my-3 cardProducts">
                    {{#each products}}
                    <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{{thumbnail}}" alt="Imagen del tratamiento" class="card-img-top img-fluid img-thumbnail imgcard">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h2>
                                <p>Precio: ${{price}}</p>
                                <p>Categoría: {{category}}</p>
                                <button onclick="addToCart('{{product_id}}')" class="btn btn-secondary">Agregar al carrito</button>
                        </div>
                    </div>
                    </div>
                    {{/each}}
                </div>
            </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
        
    <script src="/static/js/products.js"></script>
</body>

</html>